# SPDX-License-Identifier: LGPL-2.1-or-later

fastapi
validators
psutil
setuptools
gputil
psycopg
pyjwt
pydantic
six
sqlalchemy[asyncio]
aiohttp
tenacity
uvicorn
sqlmodel
alembic
gunicorn
cryptography
bcrypt
